.navbar {
  a {
    text-decoration: none !important;
  }
  .navbar-btn {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .container-find-result > ul > li {
    .firm-info {
      margin-left: 125px;
    }

  }
}

.container-find-result > ul > li {
  margin-bottom: 30px;
  .product-info {
    margin-left: 140px;
  }
}

.firm-info, .product-info {
  margin-bottom: 5px;
  .address {
    margin: 5px 0;
  }
  .additional-addresses-link {
    padding-bottom: 5px;
    a {
      border-bottom: dashed 1px;
      &:hover, &:focus {
        text-decoration: none;
      }
      i:first-child {
        display: none;
      }
    }
  }
  .additional-addresses {
    display: none;
    padding-bottom: 5px;
    .address {
      margin-bottom: 0;
    }
  }
}

.firm-rate {
  margin-bottom: 5px;
}

.firm-logo, .product-logo {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container-find-result {
  .container-image-info {
    .product-logo {
      div:last-child {
        margin-top: 5px;
      }
    }
  }
  margin-top: 50px;
  .container-paginator {
    text-align: center;
  }
}

.subcategories {
  ul.subcategories {
    & > li {
      font-size: 13px;
    }

  }
}

.container-menu {
  position: relative;
  .dropdown-menu > li > a {
    text-decoration: none;
  }
}

li.all-categories {
  span {
    display: none;
  }
}